{{ define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Gecho!</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">Hello, Gecho.</h1>

        <form class="add-todo-form" hx-post="/add-todo" hx-target="#todo-list" hx-swap="beforeend">
            <input type="text" name="todo-title" />
            <button type="submit">Add Todo</button>
        </form>

        <ul id="todo-list" class="todo-list">
            {{ range .Todos }}
                {{ template "todo_item" .}}
            {{ end }}
        </ul>
    </div>
</body>
</html>
{{ end }}